* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #fefae0;
    color: #283618;
    line-height: 1.6;
    padding: 20px;
}

header {
    background-color: #dda15e;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

header h1 {
    color: #283618;
    font-size: 2.5em;
    margin: 0;
}

main#blog {
    display: flex;
    flex-direction: column;
    gap: 40px; /* Increase gap between sections */
}

section h2 {
    font-size: 1.8em;
    color: #283618;
    margin-bottom: 20px; /* Increase margin below section title */
}

section {
    display: block;
    gap: 20px;
}

.swiper-container {
    width: 100%;
    padding: 20px 0;
}

.swiper-button-next,
.swiper-button-prev {
    color: #283618;
}

.blog-box {
    background-color: #fefae0;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.blog-box:hover {
    transform: translateY(-5px);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.blog-img img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.blog-img img:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.blog-details {
    color: #283618;
    transition: color 0.3s ease;
}

.blog-box:hover .blog-details {
    color: #606c38;
}

.blog-details h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #283618;
    transition: color 0.3s ease;
}

.blog-details p {
    font-size: 1em;
    margin-bottom: 15px;
    color: #283618;
    transition: color 0.3s ease;
}

.blog-details a {
    color: #283618;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.blog-details a:hover {
    color: #bc6c25;
}

.blog-date {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.blog-date span {
    background-color: #dda15e;
    color: #283618;
    padding: 5px 10px;
    border-radius: 5px;
}

footer {
    background-color: #dda15e;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

footer p {
    color: #283618;
    font-size: 16px;
}
