/*This is from Google fon popins*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition:all .2s linear;
    transition:width none;
}

/* These are the two headers design */

.header-2 .nav{
    /*position: fixed;*/
    top: 0px;
    /*margin-top:-20px;*/
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 50px;
    /*line-height: 100px;*/
    background: linear-gradient( #606c38);
    background-color: #606c38;
    z-index: 999;


}

.header .header-2 .nav-menu{
    text-align:center;
}

.header .header-2 .nav-menu a{
    color:#fff;
    display: inline-block;
    padding:1.2rem;
    font-size:1.7rem;
}

.header .header-2 .nav-menu a:hover{

    background: rgba(221,161,94,0.6);
}

.nav-button .btn{
    width: 130px;
    height: 50px;
    font-weight: 800;
    color: #fefae0; /* Lgreen */
    background:#606c38;
    border-radius: 40px;
    cursor:pointer;
    transition: .3 ease;
    border:none;

}

:root{
--dark-moss-green: #606c38;
--pakistan-green: #283618ff;
--cornsilk: #fefae0ff;
--earth-yellow: #dda15eff;
--tigers-eye: #bc6c25ff;
--dark-moss-green: hsla(74, 32%, 32%, 1);
--pakistan-green: hsla(88, 38%, 15%, 1);
--cornsilk: hsla(52, 94%, 94%, 1);
--earth-yellow: hsla(32, 65%, 62%, 1);
--tigers-eye: hsla(28, 67%, 44%, 1);
--green:#27ae60;
--dark-color:#219150;
--black:#444;
--light-color:#666;
--border:.1rem solid rgba(0,0,0,.1);
--border-hover:.1rem solid var(--black);
--box-shadow:0.5rem 1rem rgba(0,0,0,.1);
}

html{
    font-size: 62.5%;
    overflow-x:hidden;
    scroll-padding-top: 5rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width:1rem;
}

html::-webkit-scrollbar-track{
    background:transparent;
}

html::-webkit-scrollbar-thumb{
    background:var(--black);
}

.header .header-1{
    background:#fff;
    padding:1.5rem 9%;
    display:flex;
    align-items:center;
    justify-content: space-between;
}

.header .header-1 .logo{
    font-size:2.5rem;
    font-weight:bolder;
    color:var(--black);
}

.header .header-1 .logo{
    color:var(--dark-moss-green);
}

.header .header-1 .search-form{
    width:50rem;
    height:5rem;
    border:var(--border);
    overflow:hidden;
    background:#fff;
    display:flex;
    align-items:center;
    border-radius: .5rem;
}

.header .header-1 .search-form input{
    font-size: 1.6rem;
    padding:0 1.2rem;
    height:100%;
    width:100%;
    text-transform:none;
    color:var(--black);
}

.header .header-1 .search-form label{
    font-size: 2.5rem;
    padding-right:1.5rem;
    color:var(--black);
}

.header .header-1 .search-form label{
    font-size: 2.5rem;
    padding-right: 1.5rem;
    color:var(--black);
    cursor: pointer;
}

.header .header-1 .search-form label:hover{
    color:var(--earth-yellow);
}

.header .header-1 .icons div,
.header .header-1 .icons a{
    font-size:2.5rem;
    margin-left: 1.5rem;
    color:var(--black);
    cursor:pointer;
}

.header .header-1 .icons div:hover,
.header .header-1 .icons a:hover{
    color:var(--earth-yellow);
}

#search-btn{
    display:none;
}

/* Banner design */

#banner {
    background-image: url("../bannerImages/Banner2.jpg");
    width:100%;
    height: 21vh;
    background-size:cover;
    display:flex;
    justify-content:center;
    text-align:center;
    flex-direction:column;
    padding:14px;
}

#banner h2,
#banner p {

    font-size:38px;
    color:#fefae0;
}

/* Cart design */

#cart table{
    margin-top:45px;
    width:100%;
    border-collapse:collapse;
    table-layout: fixed;
    white-space:nowrap;
    font-size:20px;
}

#cart table img {
    width: 70px;
}

#cart table td:nth-child(1){
    width:100px;
    text-align:center;
}

#cart table td:nth-child(2){
    width:150px;
    text-align:center;
}

#cart table td:nth-child(3){
    width:250px;
    text-align:center;
}

#cart table td:nth-child(4),
#cart table td:nth-child(5),
#cart table td:nth-child(6){

    width:150px;
    text-align:center;
}

#cart table td:nth-child(5) input{
    width: 70px;
    padding:10px 5px 10px 15px;
}

#cart table thead{
    border:1px solid #e2e9e1;
    border-left:none;
    border-right:none;
}

#cart table thead td{
    font-weight:700px;
    text-transform:uppercase;
    font-size:13px;
    padding:10px 0;
}

#cart table tbody tr td{
    padding-top:13px;
}

#cart table tbody tr td a i{
    color:#606c38;
}

#cart table tbody tr td a i:hover{
    color:#425827;
}

#cart table thead tr td{
    font-size:19px;
}

/* Cart Totals Design */

#cart-add{
    position:relative;
    left:51.5%;
    margin-top:4%;
    
}

#subtotal{
    width:50%;
    margin-bottom: 30px;
    padding:30px;
}

#subtotal button{
    background-color: #606c38;
    color:#fff;
    padding:12px 20px;
    border-radius:10px;
    font-size: large;
    cursor:pointer;
}

#subtotal button:hover{
    background-color: #283618;
}

#subtotal h3{
    /*padding:20px;*/
    padding-bottom:20px;
    font-size:20px;
}

#subtotal table{
    border-collapse: collapse;
    width:100%;
    margin-bottom:20px;
}

#subtotal table td{
    width:50%;
    border:1px solid #e2e9e1;
    padding: 10px;
    font-size:20px;
}



