@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
    --success-color: #23cc71;
    --error-color: #bc6c25;
}
.form-box{
    position: relative;
    display: flex;
    align-items: center;
    width: 550px;
    height: 420px;
    overflow: hidden;
    z-index: 2;
}

.Login{
    width: 500px;
    display:flex;
    flex-direction:column;
    transition: .5s ease-in-out;
}
.top  span{
    display: flex;
    color:black;
    font-size: small;
    /*padding: 40px 0px;
    margin: 40px 0px;
    */justify-content: center;
    text-align: center;
}
.top span a{
    font-weight: 500;
    color:black;
    margin-left: 5px;
}
header{
    color: #283618;
    font-size: 30px;
    text-align: center;
    padding:10px 0 30px 0px;
}
.two-forms{
    display: flex;
    gap:10px;  
}
.input-field{
font-size: 16px;
background: rgba(115, 148, 91, 0.3);
color: #283618;
height: 50px;
width: 100%;
padding :0 10px 0 45px;
border:none;
border-radius: 30px;
outline :none;
transition: 0.2 ease;
}
.input-field:hover,.input-field:focus{
    background:rgba(151, 185, 127, 0.3) ;
}
.input-box i{
    position: relative;
    top:-35px;
    left:17px;
    color:#283618;
}
::-webkit-input-placeholder{
    color:#283618;
}
.submit{
font-size: 15px;
font-weight: 500;
color: #283618;
width: 100%;
height: 40px;
border:none;
border-radius: 30px;
background:rgba(151, 185, 127, 0.3) ;
cursor: pointer;
transition: .3 ease-in-out;

}
.submit:hover{
    background: rgba(221,161,94,0.6);
    box-shadow: 1px 5px 7px 1px rgba(115, 148, 91, 0.3);
}
.two-chx{
    display:flex;
    justify-content:space-between;
    color:#283618;
    margin:10px;
}
.two label a{
    text-decoration: none;
    color:#283618
}
.two label a:hover{
    text-decoration: underline;

}

/********/

.input-box.error input {
    border-color: var(--error-color);
}
.input-box small {
    color: var(--error-color);
    position: absolute;
    visibility: hidden;
}

.input-box.error small {
    visibility: visible;
}


/*
.input-box.success input {
    border-color: var(--success-color);
}

.input-box.error input {
    border-color: var(--error-color);
}

.input-box small {
    color: var(--error-color);
    position: absolute;
     bottom: 0;
    left: 0;
    visibility: visible;
}

.input-box.error small {
    visibility: visible;
}*/