/*This is from Google fon popins*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition:all .2s linear;
    transition:width none;
}

/* These are the two headers design */

.header-2 .nav{
    /*position: fixed;*/
    top: 0px;
    /*margin-top:-20px;*/
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 50px;
    /*line-height: 100px;*/
    background: linear-gradient( #606c38);
    background-color: #606c38;
    z-index: 999;


}

.header .header-2 .nav-menu{
    text-align:center;
}

.header .header-2 .nav-menu a{
    color:#fff;
    display: inline-block;
    padding:1.2rem;
    font-size:1.7rem;
}

.header .header-2 .nav-menu a:hover{

    background: rgba(221,161,94,0.6);
}

.nav-button .btn{
    width: 130px;
    height: 50px;
    font-weight: 800;
    color: #fefae0; /* Lgreen */
    background:#606c38;
    border-radius: 40px;
    cursor:pointer;
    transition: .3 ease;
    border:none;

}

:root{
--dark-moss-green: #606c38;
--pakistan-green: #283618ff;
--cornsilk: #fefae0ff;
--earth-yellow: #dda15eff;
--tigers-eye: #bc6c25ff;
--dark-moss-green: hsla(74, 32%, 32%, 1);
--pakistan-green: hsla(88, 38%, 15%, 1);
--cornsilk: hsla(52, 94%, 94%, 1);
--earth-yellow: hsla(32, 65%, 62%, 1);
--tigers-eye: hsla(28, 67%, 44%, 1);
--green:#27ae60;
--dark-color:#219150;
--black:#444;
--light-color:#666;
--border:.1rem solid rgba(0,0,0,.1);
--border-hover:.1rem solid var(--black);
--box-shadow:0.5rem 1rem rgba(0,0,0,.1);
}

html{
    font-size: 62.5%;
    overflow-x:hidden;
    scroll-padding-top: 5rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width:1rem;
}

html::-webkit-scrollbar-track{
    background:transparent;
}

html::-webkit-scrollbar-thumb{
    background:var(--black);
}

.header .header-1{
    background:#fff;
    padding:1.5rem 9%;
    display:flex;
    align-items:center;
    justify-content: space-between;
}

.header .header-1 .logo{
    font-size:2.5rem;
    font-weight:bolder;
    color:var(--black);
}

.header .header-1 .logo{
    color:var(--dark-moss-green);
}

.header .header-1 .search-form{
    width:50rem;
    height:5rem;
    border:var(--border);
    overflow:hidden;
    background:#fff;
    display:flex;
    align-items:center;
    border-radius: .5rem;
}

.header .header-1 .search-form input{
    font-size: 1.6rem;
    padding:0 1.2rem;
    height:100%;
    width:100%;
    text-transform:none;
    color:var(--black);
}

.header .header-1 .search-form label{
    font-size: 2.5rem;
    padding-right:1.5rem;
    color:var(--black);
}

.header .header-1 .search-form label{
    font-size: 2.5rem;
    padding-right: 1.5rem;
    color:var(--black);
    cursor: pointer;
}

.header .header-1 .search-form label:hover{
    color:var(--earth-yellow);
}

.header .header-1 .icons div,
.header .header-1 .icons a{
    font-size:2.5rem;
    margin-left: 1.5rem;
    color:var(--black);
    cursor:pointer;
}

.header .header-1 .icons div:hover,
.header .header-1 .icons a:hover{
    color:var(--earth-yellow);
}

#search-btn{
    display:none;
}

/* Banner design */

#banner {
    background-image: url("../Banner-img/Banner.png");
    width:100%;
    height: 21vh;
    background-size:cover;
    display:flex;
    justify-content:center;
    text-align:center;
    flex-direction:column;
    padding:14px;
}

#banner h2,
#banner p {

    font-size:30px;
    color:#283618;

}

/* Card design */

#product1 .pro-container {
    display:flex;
    justify-content: space-between;
    padding-top:20px;
    flex-wrap:wrap;
}

#product1 {
    text-align: center;
}

#product1 .pro{
    width: calc(23% - 20px);
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius:25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0,0,0,0.02);
    margin: 2% 5%;
    transition: 0.2s ease;
    position:relative;
}

#product1 .pro:hover{
    box-shadow:20px 20px 30px rgba(0,0,0,0.06);
}

#product1 .pro img{
    width:100%;
    border-radius:20px;
}

#product1 .pro .des{
    text-align: start;
    padding: 10px 0;
}

#product1 .pro .des span{
    color: #606063;
    font-size:12px;
}

#product1 .pro .des h5{
    padding-top:7px;
    color: #1a1a1a;
    font-size: 14px;
}

#product1 .pro .des .star i{
    font-size: 12px;
    color:rgb(243,181,25);
}

#product1 .pro .des h4{
    padding-top:7px;
    font-size:15px;
    font-weight:700;
    color:#bc6c25;
}

#product1 .pro .cart {
    width: 40px;
    height: 40px;
    line-height: 40px;
    padding-left: 7px;
    border-radius: 50px;
    background-color: #fefae0;
    font-weight:500px;
    color:#bc6c25;
    border:1px solid #dda15e;
    bottom:20px;
    right:10px;
    position:absolute;
    font-size:2.0rem;
}

#pagination{
    text-align: center;
    margin-top:4%;
}

#pagination a{
    text-decoration: none;
    background-color: #606c38;
    padding:15px 20px;
    color:#fff;
    font-weight: 600px;
    font-size:25px;
    border-radius: 4px;
}

/* Tabs (slots) design */

#pagination a i{
    font-size:16px;
    font-weight:600px;
}

#pagination a:hover{
    background-color:var(--pakistan-green);
    color:#fff;
}




